<a href="https://colab.research.google.com/github/fatimashahzad00/Python-Programming/blob/main/Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(200)

200

In [ ]:
name = "Iqra"
age = 25

In [ ]:
print(name)
print(age/10)

Iqra
2.5

In [ ]:
result_of_computation = ((2 * 4) * 4) + 2
print(result_of_computation)

In [ ]:
name = "Fatima"
print(3*4)
print(3-2)
print(5+2)
print(2/20)

In [ ]:
age = 25
age += 1
print(age)

# **Dictionaries**

In [ ]:
person = {
    'name': 'John',
    'age': 30,
    'city': {
        'name': 'New York',
        'country': 'USA'
    }
}
print(person)

{'name': 'John', 'age': 30, 'city': {'name': 'New York', 'country': 'USA'}}

In [ ]:
person['gender'] = 'male'
person['age'] = 31
person['education'] = {
    'degree': 'Bachelor of Science',
    'major': 'Computer Science'
}
print(person)

{'name': 'John', 'age': 31, 'city': {'name': 'New York', 'country': 'USA'}, 'gender': 'male', 'education': {'degree': 'Bachelor of Science', 'major': 'Computer Science'}}

In [ ]:
print(person['age'])
print(person['city']['name'])

31
New York

In [ ]:
students = {
    0: {
        'name': 'John',
        'age': 20,
        'grade': 'A'
    },
    1: {
        'name': 'Jane',
        'age': 21,
        'grade': 'B'
    },
    3: {
        'name': 'Bob',
        'age': 22,
        'grade': 'C'
    },
    4: 'none'
}
print(students)

{0: {'name': 'John', 'age': 20, 'grade': 'A'}, 1: {'name': 'Jane', 'age': 21, 'grade': 'B'}, 3: {'name': 'Bob', 'age': 22, 'grade': 'C'}, 4: 'none'}

In [ ]:
print(students[1]['name'])
del students[1]
print(students)

Jane
{0: {'name': 'John', 'age': 20, 'grade': 'A'}, 3: {'name': 'Bob', 'age': 22, 'grade': 'C'}, 4: 'none'}

In [ ]:
for abcd in person.values():
    print(abcd)

John
31
{'name': 'New York', 'country': 'USA'}
male
{'degree': 'Bachelor of Science', 'major': 'Computer Science'}

In [ ]:
for each_key in students:
    print(str(each_key), students[each_key])

0 {'name': 'John', 'age': 20, 'grade': 'A'}
1 {'name': 'Jane', 'age': 21, 'grade': 'B'}
3 {'name': 'Bob', 'age': 22, 'grade': 'C'}
4 none

In [ ]:
for a, b in students.items():
    print(a, b)

0 {'name': 'John', 'age': 20, 'grade': 'A'}
1 {'name': 'Jane', 'age': 21, 'grade': 'B'}
3 {'name': 'Bob', 'age': 22, 'grade': 'C'}
4 none

In [ ]:
students_list = [
    {
        'name': 'John',
        'age': 20,
        'grade': 'A'
    },
    {
        'name': 'Jane',
        'age': 21,
        'grade': 'B'
    },
    {
      'name': 'Bob',
      'age': 22,
      'grade': 'C'
    },
    {
        'name': 'Alice',
        'age': 23,
        'grade': 'D'
    }
]

John

In [ ]:
new_dicitionary = {
    'name': 'Eve',
    'age': 24,
    'grade': 'E'
}
students_list.append(new_dicitionary)
print(students_list)

[{'name': 'John', 'age': 20, 'grade': 'A'}, {'name': 'Jane', 'age': 21, 'grade': 'B'}, {'name': 'Bob', 'age': 22, 'grade': 'C'}, {'name': 'Alice', 'age': 23, 'grade': 'D'}, {'name': 'Eve', 'age': 24, 'grade': 'E'}]