<a href="https://colab.research.google.com/github/fatimashahzad00/Python-Programming/blob/main/Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print(200)

200

In [ ]:
name = "Iqra"
age = 25

In [ ]:
print(name)
print(age/10)

Iqra
2.5

In [ ]:
result_of_computation = ((2 * 4) * 4) + 2
print(result_of_computation)

In [ ]:
name = "Fatima"
print(3*4)
print(3-2)
print(5+2)
print(2/20)

In [ ]:
age = 25
age += 1
print(age)

# **Dictionaries**

In [ ]:
person = {
    'name': 'John',
    'age': 30,
    'city': {
        'name': 'New York',
        'country': 'USA'
    }
}
print(person)

{'name': 'John', 'age': 30, 'city': {'name': 'New York', 'country': 'USA'}}

In [ ]:
person['gender'] = 'male'
person['age'] = 31
person['education'] = {
    'degree': 'Bachelor of Science',
    'major': 'Computer Science'
}
print(person)

{'name': 'John', 'age': 31, 'city': {'name': 'New York', 'country': 'USA'}, 'gender': 'male', 'education': {'degree': 'Bachelor of Science', 'major': 'Computer Science'}}

In [ ]:
print(person['age'])
print(person['city']['name'])

31
New York

In [ ]:
students = {
    0: {
        'name': 'John',
        'age': 20,
        'grade': 'A'
    },
    1: {
        'name': 'Jane',
        'age': 21,
        'grade': 'B'
    },
    3: {
        'name': 'Bob',
        'age': 22,
        'grade': 'C'
    },
    4: 'none'
}
print(students)

{0: {'name': 'John', 'age': 20, 'grade': 'A'}, 1: {'name': 'Jane', 'age': 21, 'grade': 'B'}, 3: {'name': 'Bob', 'age': 22, 'grade': 'C'}, 4: 'none'}

In [ ]:
print(students[1]['name'])
del students[1]
print(students)

Jane
{0: {'name': 'John', 'age': 20, 'grade': 'A'}, 3: {'name': 'Bob', 'age': 22, 'grade': 'C'}, 4: 'none'}

In [ ]:
for abcd in person.values():
    print(abcd)

John
31
{'name': 'New York', 'country': 'USA'}
male
{'degree': 'Bachelor of Science', 'major': 'Computer Science'}

In [ ]:
for each_key in students:
    print(str(each_key), students[each_key])

0 {'name': 'John', 'age': 20, 'grade': 'A'}
1 {'name': 'Jane', 'age': 21, 'grade': 'B'}
3 {'name': 'Bob', 'age': 22, 'grade': 'C'}
4 none

In [ ]:
for a, b in students.items():
    print(a, b)

0 {'name': 'John', 'age': 20, 'grade': 'A'}
1 {'name': 'Jane', 'age': 21, 'grade': 'B'}
3 {'name': 'Bob', 'age': 22, 'grade': 'C'}
4 none

In [ ]:
students_list = [
    {
        'name': 'John',
        'age': 20,
        'grade': 'A'
    },
    {
        'name': 'Jane',
        'age': 21,
        'grade': 'B'
    },
    {
      'name': 'Bob',
      'age': 22,
      'grade': 'C'
    },
    {
        'name': 'Alice',
        'age': 23,
        'grade': 'D'
    }
]

John

In [ ]:
new_dicitionary = {
    'name': 'Eve',
    'age': 24,
    'grade': 'E'
}
students_list.append(new_dicitionary)
print(students_list)

[{'name': 'John', 'age': 20, 'grade': 'A'}, {'name': 'Jane', 'age': 21, 'grade': 'B'}, {'name': 'Bob', 'age': 22, 'grade': 'C'}, {'name': 'Alice', 'age': 23, 'grade': 'D'}, {'name': 'Eve', 'age': 24, 'grade': 'E'}]

In [1]:
# prompt: create a dictionary that also contains lists

my_dict = {
    'names': ['Alice', 'Bob', 'Charlie'],
    'ages': [25, 30, 28],
    'cities': ['New York', 'London', 'Paris']
}
print(my_dict)

{'names': ['Alice', 'Bob', 'Charlie'], 'ages': [25, 30, 28], 'cities': ['New York', 'London', 'Paris']}

In [ ]:
# prompt: how to get information out of a dictionary within another dictionary

print(person['city']['name'])

# **Function 17-09-2024**

In [2]:
def add_numbers(a, b):
    return a + b

result = add_numbers(3, 4)
print(result)

7

In [3]:
def add_numbers():
  fn = 2
  sn = 3
  total = fn + sn
  print(total)

  add_numbers()

In [4]:
# prompt: functions passing them information

def greet(name):
  """This function greets the person passed in as a parameter."""
  print("Hello, " + name + "!")

greet("Iqra")

Hello, Iqra!

In [5]:
# prompt: functions passing them information a different way

# Function with default arguments
def greet_with_default(name="World"):
  """This function greets the person passed in as a parameter. If no name is provided, it greets the world."""
  print("Hello, " + name + "!")

greet_with_default()  # Output: Hello, World!
greet_with_default("Iqra")  # Output: Hello, Iqra!


# Function with keyword arguments
def describe_pet(animal_type, pet_name):
  """This function displays information about a pet."""
  print("I have a " + animal_type + ".")
  print("My " + animal_type + "'s name is " + pet_name + ".")

describe_pet(pet_name="Whiskers", animal_type="cat")  # Output: I have a cat. My cat's name is Whiskers.


# Function with arbitrary arguments
def print_ingredients(*ingredients):
  """This function prints all the ingredients passed to it."""
  print("The ingredients are:")
  for ingredient in ingredients:
    print(ingredient)

print_ingredients("flour", "sugar", "eggs", "butter")


# Function with arbitrary keyword arguments
def build_profile(first, last, **user_info):
  """This function builds a dictionary containing everything we know about a user."""
  profile = {}
  profile["first_name"] = first
  profile["last_name"] = last
  for key, value in user_info.items():
    profile[key] = value
  return profile

user_profile = build_profile("Iqra", "Khan", location="Karachi", field="Computer Science")
print(user_profile)

Hello, World!
Hello, Iqra!
I have a cat.
My cat's name is Whiskers.
The ingredients are:
flour
sugar
eggs
butter
{'first_name': 'Iqra', 'last_name': 'Khan', 'location': 'Karachi', 'field': 'Computer Science'}

# **Classes 17-09-2024**

In [6]:
class Patient:
  """
  A class to represent a patient.
  """
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender

  def display_info(self):
    print(f"Name: {self.name}")
    print(f"Age: {self.age}")
    print(f"Gender: {self.gender}")

# Create a Patient object
patient1 = Patient("John Doe", 30, "Male")

# Display the patient's information
patient1.display_info()

Name: John Doe
Age: 30
Gender: Male

In [7]:
# Create another Patient object
patient2 = Patient("Jane Doe", 25, "Female")

# Display the patient's information
patient2.display_info()

Name: Jane Doe
Age: 25
Gender: Female

In [8]:
print(patient1.name)  # Output: John Doe
print(patient2.age)   # Output: 25

John Doe
25

In [9]:
class Patient:
  def __init__(self, name, age, gender):
    self.name = name
    self.age = age
    self.gender = gender
    self.is_admitted = False  # Initially, the patient is not admitted

  def display_info(self):
    print(f"Name: {self.name}")
    print(f"Age: {self.age}")
    print(f"Gender: {self.gender}")
    if self.is_admitted:
      print("Patient is currently admitted.")
    else:
      print("Patient is not admitted.")

  def admit_patient(self):
    if not self.is_admitted:
      self.is_admitted = True
      print(f"{self.name} has been admitted.")
    else:
      print(f"{self.name} is already admitted.")

  def discharge_patient(self):
    if self.is_admitted:
      self.is_admitted = False
      print(f"{self.name} has been discharged.")
    else:
      print(f"{self.name} is not currently admitted.")

# Create a Patient object
patient1 = Patient("John Doe", 30, "Male")

# Display the patient's information
patient1.display_info()

# Admit the patient
patient1.admit_patient()

# Display the patient's information again
patient1.display_info()

# Discharge the patient
patient1.discharge_patient()

# Display the patient's information again
patient1.display_info()

Name: John Doe
Age: 30
Gender: Male
Patient is not admitted.
John Doe has been admitted.
Name: John Doe
Age: 30
Gender: Male
Patient is currently admitted.
John Doe has been discharged.
Name: John Doe
Age: 30
Gender: Male
Patient is not admitted.

In [10]:
class Dog:

  def __init__(self, name, age):
    """Initialize name and age attributes."""
    self.name = name
    self.age = age

  def sit(self):
    """Simulate a dog sitting in response to a command."""
    print(f"{self.name} is now sitting.")

  def roll_over(self):
    """Simulate a dog rolling over in response to a command."""
    print(f"{self.name} rolled over!")

# Create an instance of the Dog class
my_dog = Dog("Willie", 6)

# Call methods on the instance
my_dog.sit()
my_dog.roll_over()

Willie is now sitting.
Willie rolled over!

In [ ]:
class Dog:

  def __init__(self, name, age):
    """Initialize name and age attributes."""
    self.name = name
    self.age = age

  def sit(self):
    """Simulate a dog sitting in response to a command."""
    print(f"{self.name} is now sitting.")

  def roll_over(self):
    """Simulate a dog rolling over in response to a command."""
    print(f"{self.name} rolled over!")

# Create an instance of the Dog class
my_dog = Dog("Willie", 6)

# Access and modify the age attribute
print(f"My dog is {my_dog.age} years old.")
my_dog.age = 7
print(f"My dog is now {my_dog.age} years old.")